@tailwind base;
@tailwind components;
@tailwind utilities;

.loader-container {
    min-height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #F3F3F3;
    border-radius: 50%;
    border-top: 16px solid fuchsia;
    width: 10rem;
    height: 10rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {

    0% { transform: rotate(0deg); }

    100% { transform: rotate(360deg); }
}
